<mat-drawer-container hasBackdrop="true">
    <mat-drawer mode="push" #drawer>
        <button mat-flat-button>
            My Lists
        </button>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button type="button" mat-flat-button color="primary" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="spacer5px"> Habitracker</span>
        </mat-toolbar>
        <router-outlet></router-outlet>

    </mat-drawer-content>
</mat-drawer-container>